html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6rem;
}

.home {
  height: 100vh;

  /* background-color: cadetblue; */
}

.about {
  height: 100vh;

  /* background-color: coral; */
}

.example {
  height: 100vh;

  /* background-color: chartreuse; */
}
